/* Two boxes in the Editor */
.wd-date-picker {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.wd-quiz-custom-box {
    border-radius: 4px;
    border: 1px solid;
    padding: 10px;
}

.wd-quiz-custom-border {
    border-radius: 4px;
    border: 1px solid gray;
    padding: 10px;
    display: inline-block;
}

.wd-quiz-custom-border:hover {
    border-color: #505050; /* Darker gray on hover */
}
.tag-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    min-height: 40px;
    max-width: 300px;
}

.tag {
    display: flex;
    align-items: center;
    background-color: #ffddd4;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    font-size: 14px;
}

.close-btn {
    color: #888;
    cursor: pointer;
    margin-left: 5px;
}

.close-btn:hover {
    color: #000;
}

.borders{
    background-color: rgb(255, 209, 193);
    color: red;

}

.wd-border-fat {
    border-width: 20px 30px 20px 30px;
}

.wd-border-solid {
    border-style: solid;
}